[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mypy = "*"
scipy = "*"

[dev-packages]
mypy = "*"
pytest = "*"
yapf = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
sphinx-autodoc-typehints = "*"
pandas = "*"

[requires]
python_version = "3.9"
